<script>

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  
  function handleMessageFormError(msg, display) {
      var myErrorDiv = document.getElementById("message-create-form-error")
      if (display === true) {
          // show error
          myErrorDiv.setAttribute("class", "d-block alert alert-danger")
          myErrorDiv.innerText = msg
      } else {
          // hide error
          myErrorDiv.setAttribute("class", "d-none alert alert-danger")
      }
  }
  
  function handleMessageCreateFormDidSumbit(event) {
      event.preventDefault()
      const myForm = event.target
      const myFormData = new FormData(myForm)
      const url = myForm.getAttribute("action")
      const method = myForm.getAttribute("method")
      const xhr = new XMLHttpRequest()
      const responseType = "json"
      xhr.responseType = responseType
      xhr.open(method, url)
      xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
      xhr.onload = function() {
          if (xhr.status === 201) {
              handleMessageFormError("", false)
              const newMessageJson = xhr.response
              const newMessageElement = formatMessageElement(newMessageJson)
              const ogHtml = messagesContainerElement.innerHTML
              messagesContainerElement.innerHTML = newMessageElement + ogHtml
              myForm.reset()
          } else if (xhr.status === 400) {
              const errorJson = xhr.response
              const contentError = errorJson.content
              let contentErrorMsg;
              if (contentError) {
                  contentErrorMsg = contentError[0]
                  if (contentErrorMsg) {
                      handleMessageFormError(contentErrorMsg, true)
                  } else {
                      alert("An error occured. Please try again.")
                  }
              } else {
                  alert("An error occured. Please try again.")
              }   
          } else if (xhr.status === 401) {
              alert("You must login!")
              window.location.href = "/login"
          } else if (xhr.status === 403) {
              alert("You must login!")
              window.location.href = "/login"
          }
          else if (xhr.status === 500) {
              alert("Server error, please try again.")
          }
          
      }
      xhr.onerror = function() {
          alert("An error occurred. Please try again later.")
      }
      xhr.send(myFormData)
  }
  function loadMessages(messagesElement) {
      const xhr = new XMLHttpRequest()
      const method = 'GET' // "POST"
      var url = "/api/messages/"

      if (url_addition != null) {
          url += url_addition
      }
      const responseType = "json"
      xhr.responseType = responseType
      xhr.open(method, url)
      xhr.onload = function() {
          const serverResponse = xhr.response
          const listedItems = serverResponse // array
          var finalMessageStr = ""
          var i;
          for (i=0;i<listedItems.length; i++) {
              console.log(listedItems[i])

              var messageObj = listedItems[i]
              var currentItem = formatMessageElement(messageObj)
              finalMessageStr += currentItem
          }
          messagesElement.innerHTML = finalMessageStr
      }
      xhr.send()

       const url1 = "/api/messages/coin/"
      const method1="GET"
      const xhr1 = new XMLHttpRequest()
      const responseType1 = "text"
      xhr1.responseType = responseType1
      xhr1.open(method1, url1)
      xhr1.onload = function() {
          const serverResponse = xhr1.response

           const messagesContainerE = document.getElementById("navbarSupportedContent")
            const ogHtml = messagesContainerE.innerHTML
          var formattedMessage = "<div class='row text-center'" + "<div class='col'>" + "<div class='h_c'>" + serverResponse.replace(/^"(.+(?="$))"$/, '$1') +
          "</div>" + "</div></div>"
          messagesContainerE.innerHTML=formattedMessage + ogHtml



      }
      xhr1.send()

  }
  
  function handleMessageActionBtn(message_id, currentCount, action) {
      console.log(message_id, currentCount)
      const url = "/api/messages/action/"
      const method="POST"
      const data = JSON.stringify({
          id: message_id,
          action: action
      })
      const xhr = new XMLHttpRequest()
      const csrftoken = getCookie('csrftoken');
      xhr.open(method, url)
      xhr.setRequestHeader("Content-Type", "application/json")
      xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
      xhr.setRequestHeader("X-CSRFToken", csrftoken)
      xhr.onload = function() {
          // react.js this handle the state much better
          if (xhr.response.toString().indexOf("popa")+1)
          {
            alert("Sorry, this post already taken")

          }
          loadMessages(messagesContainerElement)

      }
      xhr.send(data)
      return 
  }

  
  function LikeBtn(message) {
      return "<button class='btn btn-primary btn-sm' onclick=handleMessageActionBtn(" +
      message.id + "," + message.likes + ",'like')>" + " Take order</button>"
  }
   function CompleteBtn(message) {
      return "<button class='btn btn-success btn-sm' onclick=handleMessageActionBtn(" +
      message.id + "," + message.likes + ",'delete')>" + " Complete</button>"
  }
  function DeleteBtn(message) {
      return "<button class='btn btn-danger btn-sm' onclick=handleMessageActionBtn(" +
      message.id + "," + message.likes + ",'delete')>" + " Delete</button>"
  }

  function formatMessageElement(message) {
      const ret1 = document.getElementById("my_popa")
      const name = ret1.innerHTML.toString()
      var formattedMessage = 
      "<div class='col-2 col-md-4 mx-auto border rounded p-3 mb-2 bg-white shadow'"
      + " id='message-" + message.id + "'>"
      + "<div class='post-tag-username'>"
      + "<div class='post-username'>"
      + "<p>" + "<a href=/profile/" + message.user.username + ">" + "@"+ message.user.username + "</a>" + "</p>" 
      + "</div>"
      + "<div class='post-tag'>"
      + "<p>" + "<a href=/thread/" + message.thread + ">" + "/"+ message.thread.toUpperCase() + "/"+ "</a>" + "</p>"
      + "</div></div>" 
      + "<p>"  +escapeHtml(message.content) + "</p>"


      //+ "<p class = 'cost-num'>" + message.cost + "</p>"
      let button=""
      if(name.indexOf(message.user.username)+1) // вледелец объявления не мы
      {
          //formattedMessage +="<p>" + "Telephone: " + "*****" + "</p>"
          button += DeleteBtn(message)
      }
      else
      {
        if (message.executor == null)
        {
            formattedMessage +="<p>" + "Telephone: " + "*****" + "</p>"
            button += LikeBtn(message)
        }
        else
        {
            formattedMessage +="<p>" + "Telephone: " + message.tel + "</p>"
            button += CompleteBtn(message)
        }
      }
      formattedMessage += "<div class='cost-num'>"
      + "<p>" +"Cost: "+ message.cost + "</p>"
      + "</div>"

      if (message.image != null)
          formattedMessage += "<p class='message-img-container'><img src=" + message.image + " class='message-img'></p>"
      formattedMessage += "<div class='btn-group'>"
      formattedMessage +=button
         formattedMessage += "</div></div>"
      return formattedMessage
  }
  
  function escapeHtml(unsafe) {
    return unsafe
         .replace(/&/g, "&amp;")
         .replace(/</g, "&lt;")
         .replace(/>/g, "&gt;")
         .replace(/"/g, "&quot;")
         .replace(/'/g, "&#039;");
  }
</script>