{% extends 'base.html' %}

{% block head_title %}
| @{{seacrch_user}}
{% endblock head_title%}


{% block content %}



<div class='row text-center'>
    <div class='col'>
        <h1>Posts by {{seacrch_user}}</h1>
    </div>
</div>

<div class='row' id='messages'>
    Loading...
</div>

{% include "scripts/scripts.html" %}

{% if seacrch_user != user%}
<script>
    
	const followBtn = document.getElementById("follow-btn")
	if ("{{is_following}}" === "False") {
		followBtn.innerText = "FOLLOW"
	} else {
		followBtn.innerText= "UNFOLLOW"
	}
	
	followBtn.addEventListener("click", () => {
      const xhr = new XMLHttpRequest()
      const responseType = "json"
      method='POST'
      url='/api/profile/{{profile.user.username}}/'
      const data = JSON.stringify({
          action: followBtn.innerText.toLowerCase()
      })
      const csrftoken = getCookie('csrftoken');
      xhr.responseType = responseType
      xhr.open(method, url)
      xhr.setRequestHeader("Content-Type", "application/json")
      xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
      xhr.setRequestHeader("X-CSRFToken", csrftoken)
      xhr.onload = function() {
        if (xhr.status === 200) {
            if (xhr.response.is_following === false) {
                followBtn.innerText = "FOLLOW"
            } else {
                followBtn.innerText= "UNFOLLOW"
            }
        } else 
            alert("Server error, please try again.")
        }
      xhr.send(data)
    })
</script>
{% endif %}
<script>
	var url_addition = "?user={{profile.user.username}}"
    const messagesContainerElement = document.getElementById("messages")
    loadMessages(messagesContainerElement)
</script>

{% endblock content %}