<div class='row mb-3'>
  <div class='col-md-4 mx-auto col-10'>
      <form class='form' id='message-create-form' method='POST' action='/api/message/create/'>
          {% csrf_token %}
          <div class='post-create-form mx-auto border rounded py-3 mb-4  shadow'>
              <div class='d-none alert alert-danger' id='message-create-form-error'></div>
              <input type='hidden' value='/' name='next' />
              <div>
                  <label for='id_tag' class='tag-label'>
                      Thread tag:
                  </label>
                  <textarea required='required' class='thread-input-tag' name='thread' placeholder='###' maxlength='3' id='id_tag'></textarea>
              </div>
              <textarea required='required' class='form-control thread-msg' name='tel' placeholder='Tel num...' maxlength='240'></textarea>
              <textarea required='required' class='form-control thread-msg' name='content' placeholder='Your text...' maxlength='240'></textarea>
                <div>
                  <label for='id_tag' class='tag-label'>
                      Cost:
                  </label>
                    <input type='number', name='cost', value='100', min='1'>
              </div>

              <div class = 'atta'>
                  <label for='id_image'>
                      <img src="/media/attach1.svg" width="25" height="25" alt="">
                  </label>
                  <input type='file' name='image' accept='image/*' id='id_image'>
              </div>
              
              <button type='submit' class='btn btn-primary send-btn'>Post</button>
          </div>
      </form>
  </div>
</div>